<!-- <div class="blank"></div> -->
<!-- <div class="header">
  <div class="image" id="image">
    <img src="./src/image/law-ladies.png" alt="law-ladies" />
  </div>
</div> -->
<div class="nav-warp">
  <div class="nav-logo">
    <h1>Dani</h1>
    <div class="humburger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
  <ul class="nav-list">
    <li><a href="">About</a></li>
    <li><a href="">Skill's</a></li>
  </ul>
</div>
<div class="content"></div>
